<div class="container">
    <footer class="footer">
        <small>
            Copyrights &copy; <a href="http://www.udemy.com">The Complete Ruby On Rails Developer</a> By <a href="www.github.com/farhan1244">Farhan Jameel Ahmed</a>
        </small>
        
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Home", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>